
body{
    margin:0;
}
.header{
    width:100%;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: solid 1px #e5e5e5;
}
.header .top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px;
}
.header .top .rightBox{
    display: flex;
    align-items: center;
    font-size: 13px;
    position: absolute;
    right: 280px;
}
.header .top .rightBox .login{
    margin: 5px 25px;
    cursor: pointer;
}
.header .top .rightBox .signup{
    margin: 5px 20px;
    margin-left: 0;
    cursor: pointer;
}
.header .top .logo{
    cursor: pointer;
}
.header .nav{
    display: flex;
    list-style: none;
}
.header .nav:hover .subMenu{
    visibility: visible;
    opacity: 1;
    transition: all 1s linear;
    display: flex;
}
.header .nav .menu{
    margin : 20px 55px;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
}
.header .nav ul{
    padding: 0;
}
.header .nav .item{
    
}
.header .nav .menu:hover {
    color: #009223;
}
.header .nav .subMenu li{
    list-style: none;
    margin: 8px;
    color: #6a6a6a;
    cursor: pointer;
}
.header .nav .subMenu li:hover{
    color: #009223;
}
.header .nav .subMenu{
    visibility: hidden;
    opacity: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    transition: all .1s linear;
}
@media screen and ( max-width: 1135px ) {
    .header .top .rightBox{
        position: static;
    }
    .header .top{
        justify-content: center;
    }
}
@media screen and ( max-width: 670px ) {
    .header .nav .menu{
        margin: 20px 10px;
        font-size: 16px;
    }
    
  }